body {
    background: no-repeat fixed bottom -270px right -200px url("https://paravelinc.com/img/amigo-hp-optimized.jpg");
    background-size: 1500px;  
}

#directions {
    font-size: 20px;
    color: white;
    text-align: right;
    position: fixed;
    bottom: 25px;
    left: 40px;
    opacity: 1;
    font-style: oblique;
    display: inline;
}

#directionsText {
    background-color: rgba(40, 48, 68, .95);
    color: #ECFFF8;
    position: fixed;
    bottom: 50px;
    left: 40px;
    padding: 15px;
    width: 300px;
    border: #ECFFF8 2px solid;
    text-align: center;
    opacity: .8;
}

#music {
    display: inline;
    position: fixed;
    bottom: 25px;
    right: 40px;
    opacity: 1;
    font-style: oblique;
    font-size: 20px;
    color: white;
}
    
h4 {
    font-size: 60px;
    color: white;
    width: 100%;
    padding-top: 20px;
    letter-spacing: 10px;
}

h5 {
    font-size: 40px;
    color: white;
    padding-top: 50px;
    letter-spacing: 10px;
}

.rowContent {
    top: 100%;
    text-align: center;
    padding: 20px;
    opacity: .8;
}

.word{
    margin-top: 110px;
}

#startCover {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: .8;

   
    color: white;
    text-align: center;
    padding-top: 40%;
    font-size: 60px;
}

#endCoverWin, #endCoverLose {
    position:fixed;
    padding:0;
    margin:0;
    top:60%;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 100;


    color: white;
    background-color: rgba(40, 48, 68, .95);
    border: #ECFFF8 2px solid;
    padding-top: 5%;
    text-align: center;
    font-size: 60px;
}